.nav{
    background-color: white;
    width: 100%;
    height:50px;
     box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    
     
}
body{
    margin: 0;
}
ul{
    display: flex;
     list-style: none;
     gap: 30px;
      align-items: center;
    justify-content: center;
    padding-top: 10px;
}
li{
    text-decoration: none;
    color: grey;
}
.quote{
    background-image: linear-gradient(to right,rgb(5, 38, 146),rgb(49, 130, 236));
    height: 30px;
    width: 130px;
    text-align: center;
    border-radius: 40px;
    padding-top: 7px;
    color: white;
}
.writing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:49%;
    gap: 0;
    z-index: 1;
   
   
}
.hero-banner{
    width: 60%;
    height: 80vh;
    margin-left: -150px;
    display: flex;
}
.first-page{
    display: flex;
    margin-top: 60px;
}
.Get{
     background-image: linear-gradient(to right,rgb(5, 38, 146),rgb(49, 130, 236));
    font-size: 14px;
    text-align: center;
    border-radius: 40px;
    color: white;
    width: 200px;
    height: 30px;
    padding-top: 15px;
  

}
.nxtpage{
    height: 100vh;

}
.thirdpage{
    height: 100vh;
     margin-top: -100px;
}
@media (orientation: portrait){
    .nav{
       display: none;
    }
}
.part1{
    
    width: 53%;
    height: 90vh;

}
.part2{
    
    width: 47%;
    height: 105vh;
    box-shadow: -5px 5px 10px rgba(0,0,0,0.3);


}
.thirdmain{
    margin-top: 50PX;
    display: flex;
    height: 100vh;
}
.about-contact-banner{
    float: right;
    position: relative;
    margin-right: 30px;  
}
.thirdpage{
    padding-top: 180px;
    
}
.thirdimage{
    margin-top: 50px;
    margin-right: 50px;
}
.firstimage{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    width: 200px;
    height: 260px;
}
.part1{
    display:grid ;
    grid-template-columns: 2fr 2fr;
    align-items: center;
    justify-items: center;
    
    margin-left: 200px;
}
.images{
    width: 120px;
    height: 120px;
    padding-left: 30px;
}
.images2{
    width: 140px;
    height: 131px;
    padding-left: 30px;
}
#first{
    margin-bottom: 100px;
}
.greendot{
    margin-top: 80px;
    margin-left: 20px;
}
button:hover{
    background-color: rgb(9, 78, 206);
    color: aliceblue;
}
.fourthpage{
    height: 230vh;
    background: linear-gradient(
    170deg,
    #D3D3D3 0%,
     #D3D3D3 47.9%,
    rgb(1, 43, 121) 48%,
    rgb(5, 49, 192) 100%
  );
    margin-top: 120px;
    padding-top: 100px;
}
.h7{
    font-size: small;
     margin-left: 240px;
}
.switch{
    display: flex;
}
.switch1{
    display: flex;
    
    

}
.switchtext{
    
    margin-left: 100px;
    margin-top: 10px;
    background-color:rgb(20, 71, 238); 
    border-radius: 30px;
     height: 30px; 
     width: 90px; 
     text-align: center;
     font-size: 16px; 
     padding-top: 10px;
     position: absolute;
}
.switchtext1{
    margin-top: 10px;
    background-color:white; 
    border-radius: 30px;
     height: 30px; 
     width: 90px; 
     text-align: center;
     font-size: 16px; 
     padding-top: 10px;
     margin-left: 7px;
     position: relative;

}
.mainswitch{
    background-color: rgb(5, 42, 163);
}
.switch1{
    background-image: linear-gradient(to right, rgb(0, 4, 255), rgb(5, 100, 243));
    width: 200px;
    height: 60px;
    margin-left: 300px;
    margin-top: 40px;
    border-radius: 30px;

    
}
.box1{
    background-color: aliceblue;
    width: 250px;
    height: 550px;
}
.payment{
    display: flex;
    gap: 30px;
    margin-left: 240px;
}
.forthpagenext{
    display: flex;
    gap: 25px;
    padding-left: 400px;
    padding-top: 100px;
    position: relative;

}
.inner{
    
    width: 300px;
    height: 50vh;

}
#inner1{
    background-color: white;

}
.star {
  font-size: 20px; 
  color: #ccc; 
}

.star.filled {
  color: #ffc107; 
}
.se{
    display: flex;
}
.stars-display{
    margin: 15px;
}
.lastb{
    display: flex;
}
.fifthpage{
    height: 210vh;
    width: 100%;
    margin-top: -100px;
   
}
.fifthhead{
    margin-left: 200px;
    margin-top: 50px;
    display: flex;
}
.mainlastbox{
    display: grid;
    gap: 20px;
    row-gap: 90px;
     grid-template-columns: repeat(3, 1fr);
     align-items: center;
     height: 400px;
     width: 300px;
     margin-left: 350px;
    
    
}
.lastbox{
    background-color: rgb(213, 227, 235);
    width: 250px;
    height: 50vh;
}
.lastfif{
    display: flex;
    margin-top: -160px;
    margin-left: 150px;
}
#lastbox2{
    height: 45vh;
    margin-top: -37px;
}
#lastbox5{
    margin-top: -120px;
    height: 60vh;
}
#lastbox6{
   margin-top: 50px;
    height: 55vh;
}
#lastbox4{
    margin-top: -70px;
}
.footer{
    height: 40vh;
    
}
.foot1{
    background-color: #ccc;
    height: 15vh;
}

.foot2{
    background-color: rgb(130, 150, 168);
    display: flex;

}
.lastmenu{
    display: flex;
    margin-top: -240px;
    margin-left: 830px;
    gap: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(66, 65, 65);
}
.lastpart1{
  
    width: 50%;
    height: 30vh;
}
.lastpart2{
    
    width: 50% ;

}
.social{
margin-left: 250px;
    padding-top: 50px;
   row-gap: 30px;
   
}
.but{
     width: 55px;
    height: 55px;
    border-radius: 29px;
    gap: 20px;
    margin: 10px;
    background-color: rgb(130, 150, 168);
     border: 2px solid #333;
}
.lastbutton{
    margin-left: 170px;
}


    @media (orientation: portrait) {
  .bannerimg {
    display: none;
  }
  .writing{
    display: none;
  }
  .first-page{
    height: 45vh;
  }
  .nxtpage{
    display: none;
  }
  .thirdimage{
    display: none;}
    .part1{
    display:grid ;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    
    margin-left: 200px;
}
.thirdmain{
    display: flex;
    flex-direction: column;
    
}
.firstimage{
  margin-left: -200px;
  width: 400px;
  height: 350px;
}
  

.images{
    margin-left: 100px;
    margin-top: 70px;
    height: 130px;
    width: 130px;
}
.images2{
    margin-left: 100px;
    margin-top: 100px;
    height: 130px;
    width: 130px;
}
.uiux{
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
.discui{
    margin-left: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10px;
}
.ondesc{
    display: none;
}
.part2{
    
    margin-top: 930px;
    width: 430px;
  
  
    box-shadow: none;
   
}
.fourthpage{
    margin-top: 1580px;
}
.rosedot{
    display: none;
}
#firstimage{
    margin-top: -60px;
    height: 400px;
}
#first{
    margin-top: 40px;
    height: 400px;
}
#part2ondesc{
    display: none;
}
#switchondesc{
    display: none;
}
.switch{
    
    display: flex;
    flex-direction: column;
}
.h7{
    margin-left: 30px;
    margin-top: 120px;
}
.lineonmob{
   display: none;
}
.switch1{
    margin-left: 100px;
    margin-bottom: 20px;
   
}
.payment{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.box1{
     width: 330px;
    height: 550px;
    padding-left: 70px;
}
.forthpagenext{
    background-color: #ffc107;
    position: absolute;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    width: 38px
}
.fifthpage{
    margin-top: 1000px;
}
.inner{
    margin-top: 100px;
    margin-left: -380px;
    width: 208px;
}
#innerondesc{
    display: none;

}
#inner1{
    width: 390px;
    margin-top: -100px;
    height: 400px;
    box-shadow: #333;
    margin-bottom: 10px;
}


.drawerondesc{
    display: none;
}
.leafonmob{
    display: none;
}

}
@media (orientation: landscape){
    .writingonphone{
        display: none;
    }
    .nxtpageonphone{
        display: none;
    }
    .onphone{
        display: none;
    }
    #part2onmobile{
        display: none;
    }
    #switchonmobile{
        display: none;
    }
    #inneronmobile{
        display: none;
    }
    .draweronmob{
        display: none;
    }
   .drawerondesc{
    display: flex;
    gap: 30px;
   }
}